a img{border:none;}
#searchForm, #footerWrap, .sidebar, .nav, .topLinks, .searchArea, .mobi { display:none; }
a, a:hover, a:visited { border-bottom:1px solid #e6ecf3; color:#03244d; line-height:normal; text-decoration:none; }
.breadcrumb { font-size:.8em; }
.lastUpdated {font-size:9px; font-style:italic; text-align:right;}